@page "/"


@**@


<div class="frame">
    
    <div class="atm-header">
        
       
        
        
        <div class="account-balance-panel">
            <div class="account-balance">

                <p>Account Balance</p>
                <h1>230</h1>
            </div>
            <div class="coin-animation"></div>
        </div>

    </div>

    <div class="atm-body">
      
        <div class="tabs">

            @*<div class="tab-selected">Deposit</div>
            <div class="tab-normal">Withdraw</div>*@
            
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Deposit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Withdraw</a>
                </li>
            </ul>
        </div>
      
    </div>
    
    <table>
        <tr>
            <td><div class="btn btn-primary">1</div></td>
            <td><div class="btn btn-primary">2</div></td>
            <td><div class="btn btn-primary">3</div></td>
        </tr>
        <tr>
            <td><div class="btn btn-primary">4</div></td>
            <td><div class="btn btn-primary">5</div></td>
            <td><div class="btn btn-primary">6</div></td>
        </tr>

    </table>

    
    
    
    
    

</div>